@import url('./normalization.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:1000&display=swap');

body {
    background-color: #1e1e1e;
    padding: 1px;
}

.header {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto Flex', sans-serif; 
    font-weight: 1000;
    font-size: 2vh;
    border: 1px solid #848484;
    color: #E9E3DC;
}

.logo {
    height: 12vh;
    width: 12vh;
    margin-left: 3%;
    background-color: #C76526;
    border-radius: 50%;
    clip-path: inset(8.34% -40%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo span {
    font-size: 3vh;
    line-height: 1;
    position: relative;
    left: 40%;
}

.navigation {
    display: flex;
    width: 40%;
    justify-content: flex-end;
}

.navigation ul {
    list-style: none;
    margin-right: 3%;
}

.navigation ul li {
    display: inline;
    margin-right: 1vw;
    white-space: nowrap;
}

.btn_contact {
    background-color: #C76526;
    padding: 2vh;
    color: #1E1E1E;
}