@import url('./normalization.css');

body {
    background-color: #1e1e1e;
    background-image: url("background.svg");
    background-size: 66%;
    background-repeat: no-repeat;
    background-position: top;
    padding: 0 10px 10px;
}

.header {
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 1000;
    border: 1px solid rgba(132, 132, 132, 50%);
    background-color: rgba(30, 30, 30, 90%);
}

.logo {
    height: 10vh;
    width: 10vh;
    margin-left: 1%;
    background-color: #C76526;
    color: #E9E3DC;
    border-radius: 50%;
    clip-path: inset(15% -40%);

}

.logo span {
    display: block;
    font-size: 2vh;
    line-height: 1;
    padding-top: 30%;
    padding-left: 30%;
}

.navigation {
    display: flex;
    width: 40%;
    justify-content: flex-end;
    align-items: center;

}

.navigation a {
    text-decoration: none;
    margin-right: 3%;
    font-size: 1.4vh;
    color: #E9E3DC;
}

.navigation .btn_contact {
    background-color: #C76526;
    padding: 1vh;
    color: #1E1E1E;
}

.navigation a:hover {
    color: #D1EF53;
}

section.content {
    display: flex;
}

main {
    width: 66%;
}

aside {
    width: 17%;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.name {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    color: #E9E3DC;
    line-height: 94%;
    padding-top: 50px;
}

.foto {
    width: 70%;
    margin-top: -30px;
    margin-bottom: -70px;
}

.about {
    background-color: #D1EF53;
    display: flex;
    border-radius: 20px;
    width: 97%;
    height: 285px;
    align-items: center;
}

.about__title {
    font-family: "Roboto Flex", sans-serif;
    font-weight: 1000;
    font-size: 70px;
    white-space: nowrap;
    padding: 75px;
}

.about__text {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 19px;
    padding-right: 80px;
    text-align: left;
    line-height: 1.4;
}

.about__text__highlight {
    font-weight: 800;
}

.skills {
    width: 98%;
    height: 85px;
    background: rgba(233, 227, 220, 0.05);
    /* Glassmorphism */
    backdrop-filter: blur(17.5px);
    margin-top: 25px;
    border: solid 3px rgba(132, 132, 132, 0.5);
    border-radius: 20px;
    display: inline-flex;
    padding: 10px;
}

.skills img {
    width: 60px;
}

#drf {
    filter: invert(8%) sepia(97%) saturate(5108%) hue-rotate(18deg) brightness(112%) contrast(127%);
}
