<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--====== Title ======-->
    <title>{% block  title %} Oknedis | Backend разработка {% endblock title %}</title>
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="{% static "/images/favicon.ico" %}" type="image/png" >
    <!--====== Default css ======-->
    <link rel="stylesheet" href="{% static "/css/default.css" %}">
    <!--====== Style css ======-->
    <link rel="stylesheet" href="{% static "/css/style.css" %}">
    <!--====== Responsive css ======-->
    <link rel="stylesheet" href="{% static "/css/responsive.css" %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static '/vendor/jquery.min.js' %}"></script>
</head>
<body>

<!--====== Start Header Section ======-->
<header class="theme-header theme-header-one">
    <!-- header Navigation -->
    <div class="header-navigation navigation-blue-light">
        <div class="container-fluid">
            <div class="primary-menu">
                <div class="site-branding">
                    <a href="{% url 'main_site:index' %}" class="brand-logo" title="На главную страницу" ><img src="{% static "/images/logo/logo-5.png" %}" alt="Site Logo"></a>
                </div>
                <div class="nav-menu">
                    <!-- Navbar Close-->
                    <div class="navbar-close"><i class="far fa-times"></i></div>
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <ul>
{#                            <li class="menu-item"><a href="{% url 'main_site:index' %}" title="На главную страницу" >Главная</a></li>#}
                            <li class="menu-item"><a href="#О компании">О компании</a></li>
                            <li class="menu-item"><a href="#Наша команда">Наша команда</a></li>
                            <li class="menu-item"><a href="#Последние работы">Последние работы</a></li>
{#                            <li class="menu-item has-children"><a href="#">Все работы</a>#}
{#                                <ul class="sub-menu">#}
{#                                    <li><a href="#">Блог</a></li>#}
{#                                </ul>#}
{#                            </li>#}

                        </ul>
                    </nav>
                </div>
                <div class="header-right-nav">
                    <ul>
                        <li class="nav-button"><a href="#Связаться" class="main-btn btn-blue-light">Контакты</a></li>
                        <li class="navbar-toggle-btn">
                            <div class="navbar-toggler">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!--====== End Header Section ======-->

{% block content %}
{% endblock content %}

<a href="#" id="toTop"></a>
<!--====== Start Footer ======-->
<footer class="footer-area footer-style-four">
    <div class="contact-wrapper">
        <div class="row">
            <div class="col-md-4 col-sm-12" style="margin-left: 100px">
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="information-item mb-30">
                    <div class="icon icon-bg-one">
                        <i class="far fa-envelope"></i>
                    </div>
                    <div class="text">
                        <span class="title">Email Address</span>
                        <h3><a href="mailto:soknedis@yandex.ru">soknedis@yandex.ru</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="text text-center">
                    <p>Авторское право © 2022 Oknedis. Все права защищены</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</footer>
<!--====== End Footer ======-->
<!--====== Jquery js ======-->
<script src="{% static '/vendor/jquery.min.js' %}></script>
<!--====== Bootstrap js ======-->
        <script src="{% static "/vendor/popper/popper.min.js" %}></script>
<!--====== Bootstrap js ======-->
<script src="{% static "/vendor/bootstrap/js/bootstrap.min.js" %}></script>
        <!--====== Slick js ======-->
        <script src="{% static "/vendor/slick/slick.min.js" %}></script>
<!--====== Magnific js ======-->
<script src="{% static "/vendor/magnific-popup/dist/jquery.magnific-popup.min.js" %}></script>
        <!--====== Isotope js ======-->
        <script src="{% static "/vendor/isotope.min.js" %}></script>
<!--====== Imagesloaded js ======-->
<script src="{% static "/vendor/imagesloaded.min.js" %}></script>
        <!--====== Counterup js ======-->
        <script src="{% static "/vendor/jquery.counterup.min.js" %}></script>
<!--====== Waypoints js ======-->
<script src="{% static "/vendor/jquery.waypoints.js" %}></script>
        <!--====== Number js ======-->
        <script src="{% static "/vendor/jquery.nice-number.min.js" %}></script>
<!--====== Nice-select js ======-->
<script src="{% static "/vendor/nice-select/js/jquery.nice-select.min.js" %}></script>
        <!--====== jquery UI js ======-->
        <script src="{% static "/vendor/jquery-ui/jquery-ui.min.js" %}></script>
<!--====== Donutty js ======-->
<script src="{% static "/vendor/donutty-jquery.min.js" %}></script>
<!--====== Main js ======-->
        <script src="{% static "/js/theme.js" %}></script>
<!--====== back-to-top ======-->
<script src="{% static '/js/back_top.js' %}"></script>

</body>

</html>
