{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <mete name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'my_site/css/style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Flex:opsz,wght@8..144,1000&family=VT323&display=swap"
            rel="stylesheet">

        <!-- Title -->
        <title>Web programmer Sidenko Stanislav</title>
</head>

<body>
    <!-- Header -->
    <header class="header">
        <div class="logo">
            <span>СИДЕНКО СТАС</span>
        </div>
        <nav class="navigation">
            <a href="#">О СЕБЕ</a>
            <a href="#">РЕЗЮМЕ</a>
            <a href="#">МОИ ПРОЕКТЫ</a>
            <a href="#" class="btn_contact">СВЯЗАТЬСЯ</a>
        </nav>
    </header>

    <!-- Content -->
    <section class="content">

        <!-- Left Side -->
        <aside class="left_side"></aside>

        <!-- Main -->
        <main class="main">

            <!-- Info about me -->
            <section class="info">
                <h1 class="name">СИДЕНКО СТАНИСЛАВ</h1>
                <img src="{% static 'my_site/img/my_foto.webp' %}" alt="my_foto" class="foto">
                <article class="about">
                    <h2 class="about__title">О СЕБЕ</h2>
                    <p class="about__text">
                        Я <span class="text__highlighted">Сиденко Станислав</span>, креативный профессионал,
                        умеющий воплощать идеи в эстетически привлекательный, креативный
                        <span class="text__highlighted">функциональный дизайн</span> и
                        <span class="text__highlighted">цифровые возможности</span>. Я увлечен объединением
                        искусства и технологий, чтобы выйти за рамки творческих возможностей и достичь как
                        <span class="text__highlighted">визуального совершенства</span>, так и
                        <span class="text__highlighted">удовлетворенности пользователей</span>.
                    </p>
                </article>
                <div class="hard_skills">
                    <img src="{% static 'my_site/img/icons/hard_skills/python.svg' %}" alt="python">
                    <img src="{% static 'my_site/img/icons/hard_skills/django.svg' %}" alt="djaango">
                    <img src="{% static 'my_site/img/icons/hard_skills/drf.svg' %}" alt="DRF" id="drf">
                    <img src="{% static 'my_site/img/icons/hard_skills/postgresql.svg' %}" alt="postgresql">
                    <img src="{% static 'my_site/img/icons/hard_skills/css-3.svg' %}" alt="css">
                    <img src="{% static 'my_site/img/icons/hard_skills/html-5.svg' %}" alt="html">
                    <img src="{% static 'my_site/img/icons/hard_skills/git.svg' %}" alt="git">
                    <img src="{% static 'my_site/img/icons/hard_skills/javascript.svg' %}" alt="javascript" id="js">
                </div>
                <div class="hard_skills">
                    <img src="{% static 'my_site/img/icons/hard_skills/tensorflow.svg' %}" alt="tensorflow">
                    <img src="{% static 'my_site/img/icons/hard_skills/scikit-learn.svg' %}" alt="scikit-learn" id="sklearn">
                    <img src="{% static 'my_site/img/icons/hard_skills/pandas.svg' %}" alt="pandas" id="pandas">
                    <img src="{% static 'my_site/img/icons/hard_skills/numpy.svg' %}" alt="numpy">
                    <img src="{% static 'my_site/img/icons/hard_skills/matplotlib.svg' %}" alt="matplotlib" id="matplotlib">
                </div>
                <div class="soft_skills">
                    <div class="soft_skills__icons">
                        <dl>
                            <dt>
                                <img src="{% static 'my_site/img/icons/soft_skills/ui_design.svg' %}" alt="">
                            </dt>
                            <dd>
                                UI DESIGN & INTERACTION 
                            </dd>
                            <dt>
                                <img src="{% static 'my_site/img/icons/soft_skills/ux_ideation.svg' %}" alt="">
                            </dt>
                            <dd>
                                UX IDEATION & WORKFLOW 
                            </dd>
                            <dt>
                                <img src="{% static 'my_site/img/icons/soft_skills/development.svg' %}" alt="">
                            </dt>
                            <dd>
                                DEVELOPMENT 
                            </dd>
                            <dt>
                                <img src="{% static 'my_site/img/icons/soft_skills/prototyping.svg' %}" alt="">
                            </dt>
                            <dd>
                                PROTOTYPING 
                            </dd>
                            <dt>
                                <img src="{% static 'my_site/img/icons/soft_skills/publish.svg' %}" alt="">
                            </dt>
                            <dd>
                                WEB DESIGHN & PUBLISH 
                            </dd>

                        </dl>
                    </div>
                    <div class="soft_skills__description">
                        <div class="soft_skills__title">
                            На своём пути в <span class="text__highlighted">Программировании</span>, стремлюсь не только к совершенству в программной части
                            приложений, также к организованности для дальнейшей поддержки кода, красоты в его написании
                            и красоте в UI/UX дизайне.
                        </div>
                        <div class="soft_skills__content">
                            <article class="first_skill">
                                <h3>Внимателен к деталям</h3>
                                <p><img src="{% static 'my_site/img/icons/gesture.svg' %}" alt="gesture"
                                        class="gesture"> Внимательно реализую ваше видение своего сайта. Сочетание
                                    удобного интерфейса, дизайна и проработанной серверной части повышает удобство
                                    работы с цифровыми технологиями, ориентированными на пользователя.</p>
                            </article>
                            <article class="second_skill">
                                <h3>Дезайн для пользователя</h3>
                                <p><img src="{% static 'my_site/img/icons/gesture.svg' %}" alt="gesture"
                                        class="gesture"> Фокусируюсь на понимании потребностей пользователей и их
                                    болевых точек, что имеет решающее значение для создания интерфейсов, которые находят
                                    отклик у разных пользователей.</p>
                            </article>
                            <article class="third_skill">
                                <h3>Сотрудничество и командная работа</h3>
                                <p><img src="{% static 'my_site/img/icons/gesture.svg' %}" alt="gesture"
                                        class="gesture"> Большой опыт работы в команде позволяется кооперировать как уже
                                    с готовыми командами, так и создать свою под ваш проект. Имеется постоянный дизайнер
                                    для более продвинутого оформления Вашего сайта.</p>
                            </article>
                            <article class="fourth_skill">
                                <h3>Надёжность и безопасность</h3>
                                <p><img src="{% static 'my_site/img/icons/gesture.svg' %}" alt="gesture"
                                        class="gesture"> Постоянный контроль за новыми технологиями и обновлениями
                                    позволяет обеспечить максимальную безопасного и отказоустойчивого Вашего приложения.
                                </p>
                            </article>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <!-- Right Side -->
        <aside class="right_side"></aside>
    </section>

    <!-- Footer -->
    <footer class="footer"></footer>

</body>

</html>