{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <mete name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'my_site/css/style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Flex:opsz,wght@8..144,1000&family=VT323&display=swap"
            rel="stylesheet">

        <!-- Title -->
        <title>Web programmer Sidenko Stanislav</title>
</head>

<body>
    <!-- Header -->
    <header class="header">
        <div class="logo">
            <span>СИДЕНКО СТАС</span>
        </div>
        <nav class="navigation">
            <a href="#">О СЕБЕ</a>
            <a href="#">РЕЗЮМЕ</a>
            <a href="#">МОИ ПРОЕКТЫ</a>
            <a href="#" class="btn_contact">СВЯЗАТЬСЯ</a>
        </nav>
    </header>

    <!-- Content -->
    <section class="content">

        <!-- Left Side -->
        <aside class="left_side"></aside>

        <!-- Main -->
        <main class="main">

            <!-- Info about me -->
            <section class="info">
                <h1 class="name">СИДЕНКО СТАНИСЛАВ</h1>
                <img src="{% static 'my_site/img/my_foto.webp' %}" alt="my_foto" class="foto">
                <article class="about">
                    <h2 class="about__title">О СЕБЕ</h2>
                    <p class="about__text">
                        Я <span class="about__text__highlight">Сиденко Станислав</span>, креативный профессионал,
                        умеющий воплощать идеи в эстетически привлекательный, креативный
                        <span class="about__text__highlight">функциональный дизайн</span> и
                        <span class="about__text__highlight">цифровые возможности</span>. Я увлечен объединением
                        искусства и технологий, чтобы выйти за рамки творческих возможностей и достичь как
                        <span class="about__text__highlight">визуального совершенства</span>, так и
                        <span class="about__text__highlight">удовлетворенности пользователей</span>.
                    </p>
                </article>
                <div class="hard_skills">
                    <img src="{% static 'my_site/img/icons/python.svg' %}" alt="python">
                    <img src="{% static 'my_site/img/icons/django.svg' %}" alt="djaango">
                    <img src="{% static 'my_site/img/icons/drf.svg' %}" alt="DRF" id="drf">
                    <img src="{% static 'my_site/img/icons/postgresql.svg' %}" alt="postgresql">
                    <img src="{% static 'my_site/img/icons/css-3.svg' %}" alt="css">
                    <img src="{% static 'my_site/img/icons/html-5.svg' %}" alt="html">
                    <img src="{% static 'my_site/img/icons/git.svg' %}" alt="git">
                    <img src="{% static 'my_site/img/icons/javascript.svg' %}" alt="javascript" id="js">
                </div>
                <div class="hard_skills">
                    <img src="{% static 'my_site/img/icons/tensorflow.svg' %}" alt="tensorflow">
                    <img src="{% static 'my_site/img/icons/scikit-learn.svg' %}" alt="scikit-learn" id="sklearn">
                    <img src="{% static 'my_site/img/icons/pandas.svg' %}" alt="pandas" id="pandas">
                    <img src="{% static 'my_site/img/icons/numpy.svg' %}" alt="numpy">
                    <img src="{% static 'my_site/img/icons/matplotlib.svg' %}" alt="matplotlib" id="matplotlib">
                </div>
                <div class="soft_skills">
                    <div class="soft_skills__icons">
                        wqwewqewqewqewq
                    </div>
                    <div class="soft_skills__description">
                        <div class="soft_skills__title"></div>
                        <div class="soft_skills__content">
                            <article class="first_skill">
                                <h3>qwe</h3>
                            </article>
                            <article class="second_skill">
                                <h3>qwe</h3>
                            </article>
                            <article class="third_skill">
                                <h3>qwe</h3>
                            </article>
                            <article class="fourth_skill">
                                <h3>qwe</h3>
                            </article>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <!-- Right Side -->
        <aside class="right_side"></aside>
    </section>

    <!-- Footer -->
    <footer class="footer"></footer>

</body>

</html>